body{
    background-color: #C8CAB6;  /* color fondo */
    font-family: 'IM Fell DW Pica', serif;
    color: #4E3B2F;
    margin: 80px;
}

.main_title{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #656554;
    text-align: center;
}

.autor{
    text-align: right;
}

.imagen_hubble{
    width: 36%;   /* tamaño todas las imágenes */
    border-radius: 30px; /* redondear border */
}

img{
    width: 40%;   /* tamaño todas las imágenes */
    border-radius: 30px; /* redondear border */
}


.centrar{
    text-align: center;
}

.indice{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.subtitulos{
    font-size: 25px;    /* tamaño texto */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #656554;
    text-align: center;
}

.parrafos{
    font-family: 'IM Fell DW Pica', serif;
    text-align: justify;
    margin: 40px;
}
